@import "../node_modules/bootstrap/scss/bootstrap-grid";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/_type";

body {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 16px;
}

button {
  font-family: inherit;
  font-size: inherit;
}

.App {
  padding-bottom: 20px;
}

.App.has-player {
  padding-bottom: 220px;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.Logo {
  display: block;
  max-width: 180px;
  padding: 10px;
}

.Playlist__cover {
  display: inline-block;
  border: 1px solid #bbb;
  background: none;
  padding: 0;
}

a.Playlist__cover {
  position: relative;
  margin-top: 20px;
}

a.Playlist__cover:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 128, 185, .5);
}

.Playlist__description {
  margin-top: 20px;
}

.Playlist__actions {
  margin-top: 20px;
}

.Playlist__actions-creator {
  display: flex;
  align-items: center;
  color: #b8b8b8;
}

.Playlist__actions-creator a {
  display: inline-block;
  margin-left: auto;
  color: #111;
}

.Playlist__actions-creator a img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 4px;
}

.button {
  padding: 10px 30px;
  border: 2px solid #bbb;
  background: white;
  cursor: pointer;
}

.button--small {
  padding: 2px 5px;
}

.button:hover,
.button:focus {
  background: #eee;
}

.button--block {
  display: block;
  width: 100%;
}

.button--blue {
  background-color: #3498db;
  border-color: #3498db;
  color: #f7f7f7;
}

.button--blue:hover,
.button--blue:focus {
  background-color: #2980b9;
  border-color: #2980b9;
}

.button--red {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #f7f7f7;
}

.button--red:hover,
.button--red:focus {
  background-color: #c0392b;
  border-color: #c0392b;
}

.Playlist__player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 10px;
  border-top: 1px solid #bbb;
}

@media (min-width: 52rem) {
  .Playlist__player {
    bottom: 10px;
    left: 10px;
    right: auto;
    background: white;
    border: 1px solid #bbb;
  }
}

.audio_controls {
  display: flex;
}

.audio_controls * {
  cursor: pointer;
  display: inline-block;
  color: #3498db;
}

.skip_button_inner,
.play_pause_inner {
  display: none;
}

.play_pause_button {
  margin: 0 10px;
}

.audio_time_progress {
  color: #a7a7a7;
}

.audio_player {
  position: relative;
  padding-bottom: 3px;
}

.audio_progress {
  position: absolute;
  display: block;
  height: 3px;
  bottom: 0;
  background-color: red;
  z-index: -1;
  pointer-events: none;
}

.audio_info_marquee {
  overflow: hidden;
}

.audio_info {
  margin-top: 10px;
  font-weight: 600;
  max-width: 240px;
}
